{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
